<section class="carousel-container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let service of services">
        <div class="card">
          <!-- Title at the top -->
          <h3>{{ service.title | translate}}</h3>

          <!-- Content container for text and image -->
          <div class="content">
            <!-- Text content -->
            <div class="text-content">
              <p>{{ service.description  | translate}}</p>
              <ul>
                <li *ngFor="let key of service?.keyServices">{{ key | translate }}</li>
              </ul>
            </div>

            <!-- Image -->
            <img [src]="'assets/images/' + service.image" alt="{{ service.title | translate }}" class="card-image" />
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
